@charset "UTF-8";
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::after, ::before {
  content: "";
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
display: inline;
width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #f2f2f2;
}

.wrapper {
  width: 1000%;
  max-width: 1024px;
  margin: auto;
  padding: 0;
}

.header {
  padding: 1em;
  background: darkgray;
}
.header-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0;
}
.header-logo {
  max-width: 8em;
  min-height: 2em;
  margin: auto;
  background: yellow;
}
.header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: auto;
      align-content: auto;
}
.header-nav-link {
  margin: 0 0.6em;
  padding: 0.1em;
}

.hero {
  padding: 3em 0;
  background: lightyellow;
}
.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: auto;
      align-content: auto;
}
.hero-textos {
  max-width: 40%;
}
.hero-imagen {
  min-width: 40%;
  min-height: 20em;
  background: blue;
}
.hero-boton {
  margin-top: 1.5em;
  padding: 0 1em;
  line-height: 2em;
  background: black;
  color: wheat;
}

.sponsor {
  padding: 3em 0;
}
.sponsor-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: auto;
      align-content: auto;
  gap: 1em;
}
.sponsor-box {
  min-width: 20%;
  min-height: 5em;
  background: palevioletred;
}

.about {
  padding: 3em 0;
  background: darkgrey;
}
.about-textos {
  max-width: 70%;
  margin: auto;
  text-align: center;
}

.services {
  padding: 3em 0;
}
.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: auto;
      align-content: auto;
}
.services-imagen {
  min-width: 40%;
  min-height: 20em;
  background: orange;
}
.services-textos {
  max-width: 40%;
}
.services-boton {
  margin-top: 1em;
  padding: 0 1em;
  line-height: 2;
  background: black;
  color: wheat;
}

.benefits {
  padding: 3em 0;
  background: lightgray;
}
.benefits-tittle {
  text-align: center;
}
.benefits-content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: auto;
      align-content: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2em;
}
.benefits-box {
  max-width: 50%;
  min-height: 15em;
  padding-right: 10%;
}
.benefits-desc {
  margin-top: 1em;
}

.myblog {
  padding: 3em 0;
}
.myblog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: auto;
      align-content: auto;
}
.myblog-textos {
  max-width: 40%;
}
.myblog-imagen {
  min-width: 40%;
  min-height: 20em;
  background: lightcoral;
}
.myblog-boton {
  margin-top: 1em;
  padding: 0 1em;
  line-height: 2;
  background: black;
  color: wheat;
}

.testiomonial {
  padding: 3em 0;
  background: darkgray;
}
.testiomonial-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: auto;
      align-content: auto;
  max-width: 70%;
  min-height: 5em;
  margin: auto;
}
.testiomonial-imagen {
  min-width: 50%;
  min-height: 13em;
  background: yellow;
}
.testiomonial-textos {
  max-width: 40%;
}

.gallery {
  padding: 3em 0;
}
.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: auto;
      align-content: auto;
  gap: 1em;
}
.gallery-box {
  min-width: calc(25% - 1em);
  min-height: 10em;
  background: lightgray;
}

.footer {
  padding: 1em;
  background: darkgrey;
}
.footer-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0;
}
.footer-container {
  text-align: center;
}
.footer-iconbox {
  max-width: 15%;
  margin: 0 auto 1em;
}
.footer-icon {
  display: inline-block;
  padding: 1em;
  background: peru;
  margin: 0 0.25em;
}
/*# sourceMappingURL=styles.css.map */