.benefits {
    padding:  3em 0;
    background: lightgray;

    &-tittle {
        text-align: center;
    }

    &-content-box {
        @include flex (center , center , auto);
        flex-wrap: wrap;

        margin-top: 2em;

    }

    &-box {
        max-width: 50%;
        min-height: 15em;
        padding-right: 10%;
    }

    &-desc {
        margin-top: 1em;
    }
}