.footer {
    padding: 1em;
    background:darkgrey;

    &-wrapper {
        @include wrapper (100% , 1200px , auto , 0)
    }

    &-container {
        text-align: center;
    }

    &-iconbox {
        max-width: 15%;
        margin: 0 auto 1em;
    }

    &-icon {
        display: inline-block;
        padding: 1em;
        background: peru;
        margin: 0 .25em;
    }
}