.gallery {
    padding: 3em 0;
    // background: salmon;

    &-container {
        @include flex (center , center , auto);
        gap: 1em;
    }

    &-box{
        min-width: calc(25% - 1em);
        min-height: 10em;
        background: lightgray;
    }
}

