.header {
    padding: 1em;
    background: darksalmon;

    &-wrapper {
        @include wrapper (100% , 1200px , auto , 0)
    }

    &-nav {

        padding: 1em;
        // background: blue;
    }

    &-logo {
        max-width: 10em;
        min-height: 3em;
        margin: auto;
        background: yellow;
    }

    &-items {
        @include flex (center , center , auto);
        gap: 1em;

        min-height: 3em;
        margin-top: 1em;
        // background: green;
    }

    &-item {
        min-width: calc(25% - 1em);
        min-height: 2em;
        background: pink;
        // margin: 1em;
    }
}