.header {
    padding: 1em;
    background: darkgray;

    &-wrapper {
        @include wrapper (100% , 1200px , auto , 0)
    }

    &-logo {
        max-width: 8em;
        min-height: 2em;
        margin: auto;
        background: yellow;
    }

    &-items {
        @include flex (center , center , auto);
    }

    &-nav-link {
        margin: 0 .6em;
        padding: .1em;
    }
}