.hero {
    padding: 3em 0;
    background: lightyellow;

    &-container {
        @include flex (space-between , center , auto);
    }

    &-textos {
        max-width: 40%;
    }

    &-imagen {
        min-width: 40%;
        min-height: 20em;
        background: blue;
    }

    &-boton {
        margin-top: 1.5em;
        padding: 0 1em;
        line-height: 2em;
        background: black;
        color: wheat;
    }
}