.sponsor {
    padding: 3em 0;
    // background: darkorchid;

    &-container {
        @include flex (center , center , auto);
        gap: 1em;
    }

    &-box {
        min-width: 20%;
        min-height: 5em;
        background: palevioletred;
    }
}