.testiomonial {
    padding: 3em 0;
    background: darkgray;

    &-box {
        @include flex (space-between, center , auto);

        max-width: 70%;
        min-height: 5em;
        margin: auto;
    }

    &-imagen {
        min-width: 50%;
        min-height: 13em;
        background: yellow;
    }

    &-textos {
        max-width: 40%;
    }
}