.myblog {
    padding: 3em 0;
    // background: lightblue;

    &-container {
        @include flex (space-between , center , auto);
    }

    &-textos  {
        max-width: 40%;
    }
    
    &-imagen {
        min-width: 40%;
        min-height: 20em;
        background: lightcoral;
    }

    &-boton {
        margin-top: 1em;
        padding: 0 1em;
        line-height: 2;
        background: black;
        color: wheat;
    }
}